nav {
    padding-bottom: 15px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

    li {
      float: left;
      border-right: 1px solid #bbbbbb;

      &.active {
        background-color: #1e7d23;
      }

      &:last-child {
        border-right: none;
      }

      a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;

        &:hover {
          background-color: #111111;
        }
      }
    }
}
