nav {
    padding-bottom: 15px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    
    li {
        float: left;
        border-right: 1px solid #bbbbbb;
    }

    li.active {
        background-color: #1e7d23;
    }

    li:last-child {
        border-right: none;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111111;
    }
}
